*{
  margin:0;
    padding:0; 
}
.hero{
  height:30vh;
  width:100%;
  background-image: url("https://assets.codepen.io/6060109/window.jpg");
  background-size:100%;
  background-position:center;
  position:relative;}
h4 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform:translate(-50%);
}

.section{
  text-align:center;
  margin:50px;
}
.box-ctr{
  display: flex;
  height: 15vh;
  width: 100%;
  background-color: lightgray;
}
.box{   
  width: 5%;
  height: 30%;
  border: 1px solidblack; 
}
.box:nth-child(1){
  background-color:red;
  
}
.box:nth-child(2){
  background-color:green;
  
}
.box:nth-child(3){
  background-color:blue; 
}
.box-ctr-1{
  justify-content:center;
  align-items:center;
}
.box-ctr-2{
  justify-content:space-around;
  align-items:flex-end;
}
.box-ctr-3{
  flex-direction:column;;
  align-items:flex-end;
}
